body {
    padding-top: 50px;
    padding-bottom: 20px;
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input {
    
}
select,
textarea,
body {
    font-family: 'Lato';
}

/* Style inputs, select elements and textareas */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

/* Style the label to display next to the inputs */
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/* Style the submit button */
input[type=submit] {
    background-color: greenyellow;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

/* Style the container */
.container {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}


body {
    background: linear-gradient(45deg,darkorchid,crimson);
}

input[type="text"], input[type="password"] {
    margin: 0px 50px;
    padding: 5px 15px;
    height: 30px;
    width: 250px;
    display: block;
    color: mediumpurple;
    font-size: 1.2em;
    position: relative;
    box-sizing: padding-box;
    background: border-box;
    border: solid;
    border-bottom: 5px double dashed
}

    input[type="text"], input[type="password"]:focus {
        outline: none;
    }

input[type="submit"] {
    margin: 0 110px;
    width: 150px;
    height: 35px;
    padding: 5px;
    background: springgreen;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0px 10px 20px -8px springgreen;
}
/*************Shake animation**********/
.wrapper:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}
/*****************************/
@keyframes blink {
    20%,30% {
        border: 25px double ivory;
        border-top-color: transparent;
        border-bottom-color: transparent;
    }

    50%,70% {
        border: 25px double springgreen;
        border-top-color: transparent;
        border-bottom-color: transparent;
    }

    80%,90%,100% {
        border: 25px double #000;
        border-top-color: transparent;
        border-bottom-color: transparent;
    }
}

p {
    text-align: center;
    font-size: 1.2em;
    color: green;
    font-weight: bold;
}

.dementiawalk {
    display: inline-flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 230px;
    width: 500px;
    position: relative;
    margin: 15px;
    font-family: 'Cinzel', serif;
    font-size: 16px;
    transition: -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.datebox {
    width: 200px;
    box-sizing: border-box;
    margin: 15px;
    height: 200px;
    max-height: 100%;
    position: relative;
}

.extradatebox {
    width: 200px;
    box-sizing: border-box;
    margin: 15px;
    height: 200px;
    max-height: 100%;
    position: relative;
    display: none;
}

.displayextradatebox {
    display: block;
}

.dateflex {
}


.datenumber {
    font-size: 72px;
    line-height: 80px;
}

.datemonth {
    font-size: 58px;
}

.date {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #FFFFFF99;
    position: relative;
    padding: 10px 10px 10px 10px;
    text-align: center;
    margin: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
}

.description {
    text-align: center;
    background: white;
    opacity: 0.8;
    padding: 0px;
    margin: 15px;
    height: 70px
}

.bookingbutton {
    text-align: center;
    background: rgb(178,132,55,0.9);
    color: white;
    padding: 2px;
    flex-grow: 1;
    margin: 15px;
    height: 22.5px;
    cursor: pointer;
}

.eventtitle {
    text-align: center;
    padding: 6px;
    background: white;
    opacity: 0.8;
    flex-grow: 1;
    font-size: 20px;
    color: #B28437;
    margin: 15px;
}

.containerbox {
    display: block;
    width: 300px;
    margin: 0 15px 0 0;
}

.Birthday {
    display: inline-flex;
    background-image: url("https://braintree.uat.jadu.net/images/Picture1_2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 230px;
    width: 1000px;
    position: relative;
    border: 1px solid black;
    font-family: 'Cinzel', serif;
    font-size: 16px;
}

.flexboxbox {
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
}

.active {
    width: 100%;
}
/**
 * Oscuro: #283035
 * Azul: #03658c
 * Detalle: #c7cacb
 * Fondo: #dee1e3
 ----------------------------------*/
 * {
 	margin: 0;
 	padding: 0;
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 }

 a {
 	color: #03658c;
 	text-decoration: none;
 }

ul {
	list-style-type: none;
}

body {
	font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
}

/** ====================
 * Lista de Comentarios
 =======================*/
.comments-container {
	margin: 60px auto 15px;
	width: 768px;
}

.comments-container h1 {
	font-size: 36px;
	color: #283035;
	font-weight: 400;
}

.comments-container h1 a {
	font-size: 18px;
	font-weight: 700;
}

.comments-list {
	margin-top: 30px;
	position: relative;
}

/**
 * Lineas / Detalles
 -----------------------*/
.comments-list:before {
	content: '';
	width: 2px;
	height: 100%;
	background: #c7cacb;
	position: absolute;
	left: 32px;
	top: 0;
}

.comments-list:after {
	content: '';
	position: absolute;
	background: #c7cacb;
	bottom: 0;
	left: 27px;
	width: 7px;
	height: 7px;
	border: 3px solid #dee1e3;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.reply-list:before, .reply-list:after {display: none;}
.reply-list li:before {
	content: '';
	width: 60px;
	height: 2px;
	background: #c7cacb;
	position: absolute;
	top: 25px;
	left: -55px;
}


.comments-list li {
	margin-bottom: 15px;
	display: block;
	position: relative;
}

.comments-list li:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	width: 0;
}

.reply-list {
	padding-left: 88px;
	clear: both;
	margin-top: 15px;
}
/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
	width: 65px;
	height: 65px;
	position: relative;
	z-index: 99;
	float: left;
	border: 3px solid #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	overflow: hidden;
}

.comments-list .comment-avatar img {
	width: 100%;
	height: 100%;
}

.reply-list .comment-avatar {
	width: 50px;
	height: 50px;
}

.comment-main-level:after {
	content: '';
	width: 0;
	height: 0;
	display: block;
	clear: both;
}
/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
	width: 680px;
	float: right;
	position: relative;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	display: block;
	border-width: 10px 12px 10px 0;
	border-style: solid;
	border-color: transparent #FCFCFC;
	top: 8px;
	left: -11px;
}

.comments-list .comment-box:before {
	border-width: 11px 13px 11px 0;
	border-color: transparent rgba(0,0,0,0.05);
	left: -12px;
}

.reply-list .comment-box {
	width: 610px;
}
.comment-box .comment-head {
	background: #FCFCFC;
	padding: 10px 12px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
	float: right;
	margin-left: 14px;
	position: relative;
	top: 2px;
	color: #A6A6A6;
	cursor: pointer;
	-webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
	color: #03658c;
}

.comment-box .comment-name {
	color: #283035;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin-right: 10px;
}

.comment-box .comment-name a {
	color: #283035;
}

.comment-box .comment-head span {
	float: left;
	color: #999;
	font-size: 13px;
	position: relative;
	top: 1px;
}

.comment-box .comment-content {
	background: #FFF;
	padding: 12px;
	font-size: 15px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
.comment-box .comment-name.by-author:after {
	content: 'autor';
	background: #03658c;
	color: #FFF;
	font-size: 12px;
	padding: 3px 5px;
	font-weight: 700;
	margin-left: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
	.comments-container {
		width: 480px;
	}

	.comments-list .comment-box {
		width: 390px;
	}

	.reply-list .comment-box {
		width: 320px;
	}
}


      