@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Inventory Management</h1>
    <p class="lead">Welcome to Mr.Shaker's new Inventory management system! .</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">How to Use App &raquo;</a></p>
</div>

<div class="row">

</div>