@{
    ViewBag.Title = "Home Page";
}

<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">Screwball's Tavern</h1>
            <h2 class="masthead-subheading mb-0">One more drink to Asylum</h2>
    <a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">How to Use</a>
        </div>

<div class="row">

</div>

