@{
    ViewBag.Title = "Home Page";
}

<title>Welcome to Screwball's Tavern</title>

<h1>New! Upcoming Events! Please see below!</h1>

<!--JS includes jQuery -->
<div class="flexboxbox">
    <div class="dementiawalk" style="background-image: url('https://images.pexels.com/photos/40541/christmas-snow-snowman-decoration-40541.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
        <div class="datebox">
            <p class="date"><span class=datenumber>15</span> <span class=datemonth> Dec</span> </p>

        </div>
        <div class="extradatebox">
            <p class="date"><span class=datenumber>29</span> <span class=datemonth> Nov</span> </p>
        </div>
        <div class="extradatebox">
            <p class="date"><span class=datenumber>31</span> <span class=datemonth> Dec</span> </p>
        </div>
        <div class="containerbox">
            <p class="eventtitle"> Holiday Mixology</p>
            <p class="description">
                $25 per person. 8-10pm.
            </p>
            <p class="bookingbutton"> Book Your Place </p>
        </div>

    </div>
    <link href='https://fonts.googleapis.com/css?family=Cinzel:400' rel='stylesheet' type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

    <p> </p>

    <div class="dementiawalk" style="background-image: url('https://images.pexels.com/photos/1303094/pexels-photo-1303094.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
        <div class="datebox">
            <p class="date"><span class=datenumber>22</span> <span class=datemonth>Dec</span> </p>
        </div>
        <div class="containerbox">
            <p class="eventtitle"> Dirty Santa </p>
            <p class="description">
                Bring a gift to exchange. We will have christmas cocktails. 

            </p>
            <p class="bookingbutton"> Book Your Place </p>
        </div>

    </div>
    <link href='https://fonts.googleapis.com/css?family=Cinzel:400' rel='stylesheet' type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

    <p> </p>

    <div class="dementiawalk" style="background-image: url('https://images.pexels.com/photos/261485/pexels-photo-261485.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
        <div class="datebox">
            <p class="date"><span class=datenumber>31</span> <span class=datemonth> Dec</span> </p>
        </div>
        <div class="containerbox">
            <p class="eventtitle"> NYE Party  </p>
            <p class="description">
                10 year anniversary of our NYE party. 
            </p>
            <p class="bookingbutton"> Book Your Place </p>
        </div>

        <p> </p>

        </div>

        <div class="dementiawalk" style="background-image: url('https://images.pexels.com/photos/730807/pexels-photo-730807.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
            <div class="datebox">
                <p class="date"><span class=datenumber>19</span> <span class=datemonth> Jan</span> </p>
            </div>
            <div class="containerbox">
                <p class="eventtitle"> Paint n Sip </p>
                <p class="description">
                    Project details coming soon. $25 per spot. Includes one drink card.
                </p>
                <p class="bookingbutton"> Book Your Place </p>
            </div>

 


    </div>
<div>

</div>



